.pro-sidebar {
}

.activeClicked div {
  background-color: rgb(255, 0, 242);
}

body {
  margin: 0;
  padding: 0;
  background-color: #1a202c !important;
}

.page {
  margin-left: 20px;
  margin-top: 10px;
  width: 70vw;
  height: 100vh;
  overflow-y: scroll;
}

.page::-webkit-scrollbar {
  display: none;
}

.page-title {
  color: rgb(255, 0, 242);
}

.tile {
  height: 164px;
  background-color: black;
  padding: 15px;
  width: 100%;
  display: flex;
  flex-direction: row;
  border-radius: 15px;
  margin-top: 10px;
}

.tile:hover .details {
  color: rgb(255, 0, 242);
}

.tile:hover .tile-image {
  transform: scale(1.1);
}

.tile a,
.tile a:hover {
  text-decoration: none;
  color: inherit;
}

.tile-image {
  height: 135px;
  width: 240px;
  border-radius: 5px;
  transition: all 0.8s ease;
  vertical-align: middle;
}

.image-wrapper {
  display: inline-block;
  overflow: hidden;
}

.details {
  color: #fff;
  margin-left: 45px;
  width: 50%;
}
